<div class="row">
  <div class="col-sm-3"><a routerLink="">
    <button type="button" class="btn btn-dark btn-lg" style="margin: 10px"><i class="fa fa-home" aria-hidden="true"></i></button></a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br/>
      <ngb-alert type="secondary" [dismissible]="false">
        Eventually, this page will show cards that have been marked for being included in the cube. Maybe there will be some
        sort of filter for them as well.
      </ngb-alert>
    </div>
  </div>
</div>
