@font-face {
  font-family: grotesk;
  src: url("../../assets/fonts/Grotesk.otf");
}

form {
  margin-top: 5%;
  width: 100%;
}

.home-btn {
  width: 75px;
  height: 75px;
  font-size: 250%;
}

.info-text {
  margin: 5px;
}

.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  font-size: 2em;
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  font-size: 2em;
  border:0;
  background:transparent;
}

.main-text {
  font-family: bebas, sans-serif;
  text-align: center;
  font-size: 400%;
  border: none;
  background: none;
}

.sorted {
  color: green;
}

.unsorted {
  color: indianred;
}
