<div class="row">
    <div class="col-sm-3"><a routerLink="">
        <button type="button" class="btn btn-secondary" style="margin: 10px">Home</button></a>
    </div>
</div>

<!-- If there are no more cards, the user will be informed. -->
<div *ngIf="!card">
  <h1 class="main-text">There are no more cards left to sort!</h1>
</div>

<!-- If getUnsortedCard returns a card, the sort card interface will render. -->
<div *ngIf="card">
  <div class="row">
    <div class="col-sm-12" *ngIf="card">
      <pre class="main-text">Here    is    a    card:</pre>
      <div *ngIf="loadingCard"><div class="loader">Loading card...</div></div>
        <div *ngIf="!loadingCard">
            <card-component [card]="card"></card-component>
        </div>
        <br/><br/>
      <pre class="main-text">Is   it   valid?</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="validity-radio-group" ngbRadioGroup name="radioBasic" [(ngModel)]="validity">
        <label ngbButtonLabel class="btn-secondary btn-xlg raised-lg">
          <input ngbButton type="radio" value="yes"> YES
        </label>
        <label ngbButtonLabel class="btn-secondary btn-xlg raised-lg">
          <input ngbButton type="radio" value="no"> NO
        </label>
        <br/>
        <label ngbButtonLabel class="btn-secondary btn-xlg raised-lg">
          <input ngbButton type="radio" value="maybe"> MAYBE
        </label>
        <label ngbButtonLabel class="btn-secondary btn-xlg raised-lg">
          <input ngbButton type="radio" value="almost"> ALMOST
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="main-text" style="margin: 20px">
        Add some tags:
        <button type="button" class="info-button" (click)="open(info_modal)">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>
        <ng-template #info_modal let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Tag descriptions</h4>
            <button type="button" class="close" aria-label="Close" (click)="d()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <tag-info-text></tag-info-text>
          </div>
        </ng-template>
      </div>
      <div class="tag-check-group" data-toggle="buttons">
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.atrocious"> atrocious
        </label>
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.broken"> broken
        </label>
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.funny"> funny
        </label>
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.novel"> novel
        </label>
        <br/>
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.overpowered"> overpowered
        </label>
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.plagiarized"> plagiarized
        </label>
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.unlikely"> unlikely
        </label>
        <label class="btn btn-secondary btn-lg raised" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tags.youTried"> you tried
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 tag-check-group">
        <div *ngIf="sortSuccess">
            <button type="button" class="btn btn-success btn-xlg raised-lg">Sorted!</button>
        </div>
        <div *ngIf="sortFail">
            <button type="button" class="btn btn-danger btn-xlg raised-lg">Sort Failed!</button>
        </div>
        <div *ngIf="!sortSuccess && !sortFail">
            <button type="button" class="btn btn-secondary btn-xlg raised-lg" (click)="submit()">Submit</button>
        </div>
    </div>
  </div>
</div>


